.maincontainer {
	height: inherit;
	width: 100%;
	padding-top: 58px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	top:0px;
	position:absolute;
}

html, body {
	background-color: #e9eaed;
	height: 100%;
}

.customJumbotronClassStyling {
	height: 100%;
	padding: 0px !important;
	width:100%;
	margin:0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.fullHeightNoMarginsOrPadding {
	margin:0px;
	height:100%;
	padding:0px;
	border-style: none;
}

.customTableStyling {
	background-color:#eee;
}

.customNavBarStylingClass {
	z-index: 1000;
	//margin: 0px;
	//width:100%;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	background-color: #091d3a !important;
	background-image:none;
}

.customRightNavbarClass {
	margin-right: 0px !important;
}

.customNavBarButtonPaddingClass {
	padding-left:15px !important;
	padding-right:0px !important;
}

.customLoadingSpinnerClass {
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left:10px;
	margin-right:0px;	
}

/* NOTE: to change automatic navbar sizing, in the bootstrap.css file, all instances of "768px" were changed to "605px" */

.customBarsAndChartDivStylingClass {
	width: 100%;
	height: 100%;
	padding-top: 5px;
	background-color: #2e2e2e !important;
}

.customIconStylingClass {
	margin-right: 2px;
}

.customModalDialogStyling {
	width: 90% !important;
	max-width: 90% !important;
	font-size: 14px !important;
	margin-bottom: 0px;
}

.customModalColorInfo {
	background-color: lightgreen;
}
.customModalColorCaution {
	background-color: yellow;
}
.customModalColorError {
	background-color:pink;
}
.customModalColorDebug {
	background-color:lightblue;
}


.modal-title {
	display:inline;
}

.customCarouselItemClass {
	height:100%;
	background-color:rgb(59,56,56);
}
.customCarouselCaptionClass {
	background-color: rgba(59,56,56, 0.9);
}
.customCarouselImageSize {
	height:100% !important;
	width: 100% !important;
}

.fullHeight {
	height:100%;
}

.customViewDataButtonClass {
	padding:5px;
	font-size:16px;
}