.maincontainer {
    height:inherit;
    width:inherit;
    padding-top:85px;
}

html, body {
    background-color:#e9eaed;
    height:100%
}
.el-inherit-size {
    height:inherit;
    width:inherit;
}
.el-z {
    z-index:11;
}
.jumbotron {
    opacity:0.7;
    background-color:darkgray;
    height: 100%;
    overflow:auto;
}
.modal-dialog {
	width:90% !important;
	max-width:90% !important;
	font-size:14px !important;
	margin-bottom:0px;
}
.btn {
	border-color:darkgray;
}
.carousel-caption {
	background-color: rgba(59,56,56, 0.9);
	
}