<div ng-init="sendDatatoPI()" class="el-inherit-size">

    <canvas id="debugCanvas"></canvas>


        <div id="container" ng-init="init()">


    <div class="d-flex flex-row-reverse el-inherit-size" >
        
        <div class="p-2">
            <ul style="list-style-type:none">
                <li><a ui-sref=".table"><span class="fa fa-table fa-2x"></span></a></li>
                <li><a ui-sref=".change"><span class="fa fa-pencil  fa-2x"></span></a></li>
                <li><a ui-sref=".chart"><span class="fa fa-area-chart fa-2x"></span></a></li>
            </ul>               
        </div>
        <div class="p-2" style="width:50%">
            <div class="jumbotron "  >
                <div ui-view style="height:inherit"></div>
            </div>
        </div>
        <div class="p-2"></div>
    </div>
</div>