<div class="container-fluid el-inherit-size" ng-init="init()">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="asset in assetArray">
                <th scope="row"><span class="fa fa-cube fa-fw customIconStylingClass"></span></th>
                <td>{{asset.Name}}</td>
                <td>{{asset.Description}}</td>
				<td><a ui-sref="chartAndTableWrapperView.gauges({assetName: asset.Name})"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>