<div ng-init="init()" class="el-inherit-size">
    <!--<div class="d-flex flex-row">
        <div class="btn-group-vertical" role="group" style="width:100%">
            <button type="button" ng-click="toggle(attribute)" class="btn btn-primary btn-block" ng-class="{'active': attribute.Selected}" ng-repeat="attribute in attributes">{{attribute.Name}}</button>

        </div>

    </div>-->

    <div class="d-flex flex-row" style="height:inherit">

      
            <div id="MyChartDiv" ng-init="createChart()" style="width:100%; height: inherit; min-height:300px; background-color:black"></div>
      

    </div>
</div>

