<div ng-init="sendDatatoPI()" class="el-inherit-size">
    <canvas id="debugCanvas"></canvas>
    <div id="container" ng-init="init()"></div>
    <div class="d-flex flex-row-reverse el-inherit-size">
        <!-- Central container -->
        <div class="p-2 el-z" style="margin-top:10px;" ng-style="{ 'width': chartAndTableWidth }">
            <div class="jumbotron " style="margin:0px;padding:32px;">
                <div ui-view style="height:inherit"></div>
            </div>
        </div>
        <!-- Data source image -->
        <div class="p-2" style="margin-top:10px; width:30%; padding-right:0px !important;" ng-show="showImageDiv()">
			<img ng-src="../../Images/{{ getAssetType() }}Image.png" height="100%" width="100%" style="border-radius:4.8px;" />
        </div>
        <!-- Side menu bar -->
        <div class="p-2 el-z" style="margin-top:0px;background-color:#606060">
            <ul style="list-style-type:none;padding:0px;margin-left:4px;text-align:center;">
				<li style="margin-top:25px;">
					<a style="color:white !important" ui-sref=".table"><span class="fa fa-table fa-2x fa-fw" style=""></span><br/><span style="font-size:11px">Table</span></a>
				</li>
                <li style="margin-top:25px;">
					<a style="color:white !important" ui-sref=".chart"> <span class="fa fa-area-chart fa-2x fa-fw" style=""></span><br/><span style="font-size:11px">Trend</span></a>
				</li>
				<li style="margin-top:25px;">
					<a style="color:white !important" ui-sref='assetoverview'><span class="fa fa-exchange fa-2x fa-fw" style=""></span><br/><span style="font-size:11px">Assets</span></a>
				</li>
				<li style="margin-top:25px;" ng-show="getAssetType() == 'PhoneSensor'">
					<a style="color:white !important" href="" onclick="$('#sensorValuesModal').modal();"><span class="fa fa-info-circle fa-2x fa-fw" style=""></span><br/><span style="font-size:11px">Info</span></a>
				</li>
            </ul>
        </div>		
    </div>
 </div>
