
<div class="container-fluid el-inherit-size" style="padding-bottom: 50px;" ng-init="init()">

    <div class="card-deck el-inherit-size">
        <div class="card">
            <div class="card-header">
                <h5>Top-Level KPIs</h5>
            </div>
            <div class="card-block">
                <div id="crazyGaugeDiv" ng-init="makeCrazyGauge()" style="min-height:220px; max-height:600px; background-color:white"></div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse fixed-bottom">
    <ul class="nav navbar-nav text-center">
        <li class="nav-item"><a class="nav-link" ui-sref="assetoverview"><i style="color:#292b2c" class="fa fa-chevron-down fa-2x"></i></a></li>
    </ul>
</nav>
