<div class="container-fluid el-inherit-size" ng-init="init()">
    <div class="card-deck el-inherit-size">
        <div class="card" style="height:100%">
            <div class="card-block" style="padding:0px;text-align:center;">
                <div id="crazyGaugeDiv" ng-init="makeCrazyGauge()"></div>
            </div>
			 <div class="card-footer" style="text-align:center">
                <a class="btn btn-secondary" ui-sref="assetoverview" style="width:80%">View Assets</a>
            </div>
        </div>
    </div>
</div>
