<div class="row" ng-init="init()">
    <!--<div class=" col-md-4">-->
        <div class="panel panel-default" style="text-align:center;width:100%;">
            <div class="panel-body">
                <div>
                    <!-- <div><strong>{{rangeValue}}</strong></div> -->
                    <div>The current set point is <b>{{rangeValue}}</b>%.<br/>Drag the slider to change the set point:</div>
                    <br />
                    <div><input style="width:100%;" ng-change="update()" ng-model="rangeValue" type="range" min=0 max=100 step=5></div>
                </div>
            </div>
        </div>
    <!--</div>-->

</div>