<div class="row" ng-init="init()">
    <!--<div class=" col-md-4">-->
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <!-- <div><strong>{{rangeValue}}</strong></div> -->
                    Current set point: <b>{{rangeValue}}</b>%.  Drag slider to change set point:
                    <input ng-change="update()" ng-model="rangeValue" type="range" min=0 max=100 step=5>
                </div>
            </div>
        </div>
    <!--</div>-->

</div>