<div  ng-init="init()" class="el-inherit-size">
    <table class="table table-striped" style="overflow-x:hidden">
        <thead class="thead-inverse">
            <tr>
                <th>Item<i id="loadingSpinner" class="fa fa-spinner fa-spin fa-fw" style="margin-left:10px"></i></th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataItem in dataArray">
                <td>{{dataItem.Name}}</td>
                <td>{{dataItem.Value.Value}} {{dataItem.Value.UnitsAbbreviation}}</td>
            </tr>
        </tbody>
    </table>
</div>

