<div ng-init="init()" class="fullHeight" style="overflow-y:scroll;">
    <table class="table table-striped customTableStyling">
        <thead>
			<tr >
				<th colspan="3" class="customTableHeaderClass">{{currentAssetName}}</th>
			</tr>
            <tr>
				<th></th>
				<th>Item</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataItem in dataArray">
                <td></td>
				<td>{{dataItem.Name}}</td>
                <td>{{dataItem.Value.Value}} {{dataItem.Value.UnitsAbbreviation}}</td>
            </tr>
        </tbody>
    </table>
</div>

