<div ng-init="init()" class="el-inherit-size" style="padding:0px!;margin:0px;">
    <table class="table table-striped" style="overflow-x:hidden">
        <thead class="thead-inverse">
            <tr>
                <th>Item</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataItem in dataArray">
                <td>{{dataItem.Name}}</td>
                <td>{{dataItem.Value.Value}} {{dataItem.Value.UnitsAbbreviation}}</td>
            </tr>
        </tbody>
    </table>
</div>

