<div  class="row" ng-init="init()">
    <div class="btn-group btn-group-lg" role="group" >
        <button type="button" ng-click="toggle(attribute)" class="btn btn-primary btn-block" ng-class="{'active': attribute.Selected}" ng-repeat="attribute in TSattributes">{{attribute.Name}}</button>

    </div>

    <br />

        <div>
            <!-- <div ><strong>chart placeholder</strong></div> -->
            <div id="MyChartDiv" ng-init="createChart()" style="width: 100%; height: 300px; background-color:black"></div>
        </div>
  
</div>


